@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto:ital,wght@1,300&display=swap');

html,body{
    height: 100%;
    width: 100%;
    font-family: 'Abel', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.button{
    padding: 20px;
    width: 66px;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}

.button:hover{
   background-color:aqua;
}

.row{
    margin: 8px 0;
}

.row input{
    font-size: 24px;
    width: 293px;
    margin:0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}